* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: lightgrey;
  margin: 0;

  }
  .main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: left;
    flex-wrap: wrap;
    padding: 1%;
    background-color: #078cc9;
  }
  
  header h1 {
    font-size: 48px;
    display: inline-block;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    padding: 14px 20px;
    float: right;
  }
  
  nav a {
    color: white;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
  }

  nav a:hover {
  background-color: black;
  color: white;
}

nav a.active {
  background-color: lightcoral;
  color: antiquewhite;
}

  main {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
  
  }
  
  .hero {
    height: 20px;
    width: 50%;
    margin-bottom: 25px;
    background-image: url("./images/profilepic1.jpeg");
    background-size: cover;
    background-position: center;
    border-style: round;
    border-width: 1px;
  }
  
  .card {
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    left: auto;
    width: auto;
    height: auto;
    
    
  }
  
  .card header {
    padding: 20px;
    background: #078cc9;
    color: white;
    font-size: 20px;
    left: auto;
    width: auto;
    height: auto;
    
  }



  .footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: space-between;
    color: white;
    background:  #078cc9;
  }
    .footer h2 {
      float: left;
      color: white;
      font-size: 20px;
    }


/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #7ab190;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #7ab190;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}