* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
 }

 /* Styling to the Header & Nav Bar*/
  .main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: left;
    flex-wrap: wrap;
    padding: 1%;
    background-color: #078cc9;
  }
  
  header h1 {
    font-size: 48px;
    display: inline-block;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    padding: 14px 20px;
    float: right;
  }
  
  nav a {
    color: white;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
  }

  nav a:hover {
  background-color: black;
  color: white;
}

nav a.active {
  background-color: lightcoral;
  color: antiquewhite;
}
/* Styling to the Main Content */
  main {
    justify-content: flex-start;
    min-height: 100vh;
    display: table-cell;
  
  }
  
 /* Styling to the Hero Image*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1%;
    border: 1px dashed white;
  }
  /* Styling to the About Me, Resume, and Work Content */
  .content {
    width: 80%;
    margin: 40px auto;
    border: 5px solid white;
    box-shadow: 5px 10px grey;
    text-align: left;
    padding: 20px;
    
    
  }
  
  .content h2 {
    padding: 20px;
    background: #078cc9;
    color: white;
    font-size: 20px;
    text-align: center;
  }

 /* Styling to the About Me, Resume, and Work Content */

  .footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: space-between;
    color: white;
    background:  #078cc9;
  
  }
    .footer h2 {
      float: left;
      color: white;
      font-size: 20px;
     
    }


/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: lightgray;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: darkgray;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: darkgray;
  }
}